@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body,
input,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body,
button {
  background: #0f1d28;
  -webkit-font-smoothing: antialiased !important;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0f1d28;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 400px;
  width: 100%;

  background: #fff;

  border-radius: 4px;
  padding: 30px;
}

.login-container input {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}

.login-container input::placeholder {
  color: #999;
}

.login-container button {
  margin-top: 10px;
  border: 0px;
  border-radius: 4px;
  height: 48px;
  width: 100px;
  font-size: 16px;
  background: #df4723;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.login-container img {
  height: 100px;
  width: 150px;
}
