.container-inicio {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color-base);
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 400px;
  width: 100%;

  background: var(--color-zero);
  border-radius: 6px;
  padding: 30px;
}

.login-container input {
  margin-top: var(--size-small-medium);
  border: 2px solid var(--color-base);
  border-radius: 4px;
  height: 48px;
  padding: 0 var(--size-small-medium);
  font-size: 16px;
  color: var(--color-base);
}

.login-container button {
  margin-top: var(--size-small);
  border: 0px;
  border-radius: 4px;
  height: var(--size-medium);
  width: var(--size-big);
  font-size: 16px;
  font-weight: bold;
  color: var(--color-zero);
  cursor: pointer;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: var(--color-zero);
  background: var(--color-base);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: var(--size-small);
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: var(--size-small);
}

.glow-on-hover:active {
  color: var(--color-base);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-base);
  left: 0;
  top: 0;
  border-radius: var(--size-small);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.logo {
  height: var(--size-big);
  width: 150px;
}

@media only screen and (max-width: 600px) {
  .login-container {
    border-radius: 0px;
  }
}

@media only screen and (max-height: 550px) {
  .logo {
    height: 75px;
    width: 125px;
  }
  .container-login {
    width: 100vw;
    height: 100vh;
  }

  .login-container {
    width: 100vw;
    height: 100vh;
  }

  .login-container {
    border-radius: 0px;
  }
}
