.progress-bar {
  position: relative;
  height: 20px;
  width: 90%;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1da598;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
  width: 90%;
}
