.container-register {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color-base);
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  background: var(--color-zero);
  border-radius: 6px;
  padding: 30px;
}

.register-container input {
  margin-top: var(--size-small-medium);
  border: 2px solid var(--color-base);
  border-radius: 4px;
  height: 48px;
  padding: 0 var(--size-small-medium);
  font-size: 16px;
  color: var(--color-base);
}

.register-container button {
  margin-top: var(--size-small);
  border: 0px;
  border-radius: 4px;
  height: var(--size-medium);
  width: var(--size-big);
  font-size: 16px;
  font-weight: bold;
  color: var(--color-zero);
  cursor: pointer;
}

.pacmanFood {
  background: var(--color-third);
}

.pacmanMouth {
  background: var(--color-zero);
}

.pacman {
  margin-right: 250px;
  animation-name: run;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes run {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  5% {
    transform: translateX(25px);
    opacity: 1;
  }
  90% {
    transform: translateX(225px);
    opacity: 1;
  }
  100% {
    transform: translateX(250px);
    opacity: 0;
  }
}

input.error {
  border-color: var(--color-third);
}

.input-feedback {
  color: var(--color-third);
  margin-top: var(--size-small);
  font-size: var(--size-small-medium);
}

@media only screen and (max-width: 600px) {
  .pacman {
    display: none;
  }
  .register-container {
    border-radius: 0px;
  }
}

@media only screen and (max-height: 550px) {
  .pacman {
    display: none;
  }
  .container-register {
    width: 100vw;
    height: 100vh;
  }

  .register-container {
    width: 100vw;
    height: 100vh;
  }

  .register-container {
    border-radius: 0px;
  }
}
